.wrapper
  = render "shared/side_bar"
  .main
    = form_with model: @party, local: true, class: "party-form" do |f|
      = f.text_field :name, class: "party-form__input", placeholder: "飲み会名を入力してください"
      = f.submit "参加する", class: "party-form__action-btn"