.main
  .top-contents
    .top-contents__content#timer
      .top-contents__content--up
        アルコールが分解されるまで
      .top-contents__content--down
        16:48:25
    .top-contents__content#sum
      .top-contents__content--up
        総アルコール量
      .top-contents__content--down
        110.88 g
  .drink-list
    .drink
      .drink__content
        .drink__content--top
          Beer
        .drink__content--center
          飲酒量: 500ml 度数: 5% アルコール量: 20.0g
        .drink__content--bottom
          乾杯!
      .drink__info
        5/3 19:21
    .drink
      .drink__content
        .drink__content--top
          Beer
        .drink__content--center
          飲酒量: 500ml 度数: 5% アルコール量: 20.0g
        .drink__content--bottom
          乾杯!
      .drink__info
        5/3 19:21
    .drink
      .drink__content
        .drink__content--top
          Beer
        .drink__content--center
          飲酒量: 500ml 度数: 5% アルコール量: 20.0g
        .drink__content--bottom
          乾杯!
      .drink__info
        5/3 19:21
    .drink
      .drink__content
        .drink__content--top
          Beer
        .drink__content--center
          飲酒量: 500ml 度数: 5% アルコール量: 20.0g
        .drink__content--bottom
          乾杯!
      .drink__info
        5/3 19:21
    .drink
      .drink__content
        .drink__content--top
          Beer
        .drink__content--center
          飲酒量: 500ml 度数: 5% アルコール量: 20.0g
        .drink__content--bottom
          乾杯!
      .drink__info
        5/3 19:21
    .drink
      .drink__content
        .drink__content--top
          Beer
        .drink__content--center
          飲酒量: 500ml 度数: 5% アルコール量: 20.0g
        .drink__content--bottom
          乾杯!
      .drink__info
        5/3 19:21
    .drink
      .drink__content
        .drink__content--top
          Wine
        .drink__content--center
          飲酒量: 100ml 度数: 12% アルコール量: 12.0g
        .drink__content--bottom
          乾杯!
      .drink__info
        5/3 19:21
  .footer
  