.header{
  width: 100vw;
  height: 100px;
  background-color: #e236c0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title{
    font-family: 'Perfograma';
    font-size: 30px;
    color: white;
    margin-left: 20px;
    text-decoration: none;
  }
  .user-box{
    margin-right: 20px;
    font-size: 18px;
    &__btn{
      display: block;
      text-decoration: none;
      color: #fcf6fc;
    }
  }
}

.wrapper{
  display: flex;
  background-image: image-url("drinks-2578446_1280.webp");
  background-size: cover;
  background-position: center;
  .side-bar{
    width: 250px;
    height: calc(100vh - 100px);
    background-color: rgba(255,255,255,0.6);
    position: relative;
    .party-list{
      overflow: scroll;
      width: 100%;
      height: calc(100vh - 200px);
      margin-bottom: 100px;
      &__box{
        margin-left: 15px;
        margin-top: 10px;
        .party{
          color: #682303;
          text-decoration: none;
          display: block;
          &__name{
            padding-top: 5px;
            font-size: 20px;
          }
          &__date{
            padding-top: 5px;
            padding-left: 10px;
            font-size: 12px;
          }
        }
      }
    }
    #current{
      background-color: rgba(245, 46, 212, 0.6);
    }
    .new-party{
      display: block;
      width: 200px;
      height: 80px;
      background-color: #cc28ae;
      text-decoration: none;
      color: #fcf6fc;
      text-align: center;
      border-radius: 10px;
      position: absolute;
      bottom: 10px;
      right: 0;
      left: 0;
      margin: auto;
      line-height: 80px;
      &:hover{
        box-shadow: 12px 12px 20px #822761;
      }
      &__icon{
        font-size: 30px;
      }
    }
  }
  .main{
    width: calc(100vw - 250px);
    height: calc(100vh - 100px);
    background-color: rgba(0,0,0,0.5);
    .top-contents{
      position: fixed;
      height: 80px;
        &__content{
        margin: 10px 0 0 15px;
        padding: 5px 15px;
        background-color: #e236c0;
        border-radius: 8px;
        display: inline-block;
        color: #fcf6fc;
        &--up{
          font-size: 14px;
        }
        &--down{
          font-size: 24px;
          text-align: right;
          font-weight: bold;
        }
      }
    }
    .drink-list{
      margin-top: 80px;
      margin-bottom: 80px;
      height: calc(100vh - 100px - 80px - 100px);
      overflow: scroll;
      .drink{
        &__content{
          margin: 10px 0 10px 15px;
          padding: 5px 15px;
          background-color: #1cd4f6;
          border-radius: 8px;
          display: inline-block;
          color: #fcf6fc;
          &--top{
            font-weight: bold;
            font-size: 18px;
          }
          &--center{
            font-size: 14px;
          }
          &--bottom{
            font-weight: bold;
          }
        }
        &__info{
          display: inline;
          font-size: 14px;
          font-weight: bold;
          color:#1cd4f6;
        }
      }
    }
    .footer{
      height: 100px;
      width: calc(100vw - 250px);
      background-color: rgba(245, 46, 212, 0.6);
      position: fixed;
      bottom: 0;
      display: flex;
      font-size: 12px;
      color: #fcf6fc;
      justify-content: space-between;
      align-items: center;
      .input-form{
        width: calc(100vw - 250px - 100px);
        margin-bottom: 10px;
        &__top{
          display: flex;
          .form-content{
            margin-left: 5px;
            width: 100%;
          }
        }
        &__bottom{
          margin-left: 5px;
        }
        .form-text{
          border-style: none;
          width: 100%;
          background-color: rgb(238, 180, 228);
        }
      }
      .send-btn{
        font-size: 60px;
        margin-right: 20px;
        color: rgba(253, 207, 81, 0.8);
        &__submit{
          display: none;
        }
        &__icon:active{
          transform: rotate(-45deg);
        }
      }
    
    }
  }
}